<div class="search-form-wrap">
  <form class="search-form">
    <span class="screen-reader-text">Search for:</span>
    <input id="search-input" type="search" class="search-field" style="height: 36px; width: 100%;" placeholder="  &#xf002;  <%= __('search') %>…" value="" name="s" title="Search for:">
    </input>
  </form>
  <%- partial('search/insight') %>
</div>
